body{
    background-color: rgb(119, 118, 118);
} 




 h1{

    text-align: center;
   background-color: rgb(28, 27, 27);
   padding: 40px;
   color: rgb(171, 34, 34);
}


 h4{
    text-align: center;
    background-color: rgb(34, 33, 33);
    padding: 20px;
    color: white;

}

img{
    width: 700px;
}


.card1{
    border: 8px solid rgb(67, 67, 67);
   text-align: center;
   background-color: rgb(51, 49, 49);
   
}




img{
    width: 700px;
}


.card2{
    border: 8px solid rgb(67, 67, 67);
   text-align: center;
   background-color: rgb(51, 49, 49);
}


.card3{
    text-align: center;
    border: 2px solid rgb(52, 50, 50);
    padding: 0%;
    margin: 5%;
    background-color: rgb(83, 81, 81);
    
}

h2{
    text-decoration: underline;
    color: rgb(3, 3, 3);
    margin: 5dvb;
    padding: 2%;

}


.card4{
    text-align: center;
    border: 4px solid gray;
    background-color: black;
    border-radius: 20px;
}


h5{
    color: rgb(229, 27, 27);
    font-size: medium;
   
}

button{
    border-radius: 50px;
    font-style: italic;
    background-color: rgb(224, 230, 227);
}


.card5{
    text-align: center;
}



.card6{
    text-align: center;

}


.card7{
    text-align: center;

}


.card30{
    margin: 10px;
    padding: 10px;
    border: 1px solid rgb(104, 102, 102);
    border-radius: 8000px;
    text-align: center;
    background-color: rgb(193, 188, 188);
   
    
    
}



.card40{
    margin: 10px;
    padding: 10px;
    border: 1px solid rgb(104, 102, 102);
    border-radius: 8000px;
    text-align: center;
    background-color: rgb(6, 6, 6);
    
    
    
    
}





a{
    text-decoration: none;
    color: #0a3314;
}


b{
    text-decoration: underline;
    
}


